@charset "UTF-8";
 .col-sm-2 a {text-decoration: none;color:#000;}
 .col-sm-2 a:hover{color:#EE2C2C;}
 
.nava ul li{float:left;list-style:none;}
.nava ul li a{ color:#000;text-decoration: none;}
.nava ul li a hover{ color:#000;}

/*用户个人中心*/
#btn1,#btn2,#btn3{
	background: rgba(255, 255, 255, 0.5);
	color:#2222ff;
	text-decoration: none;
	border:none;
}

