<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Offer1000</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>URegisterServlet</display-name>
    <servlet-name>URegisterServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.URegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegisterServlet</servlet-name>
    <url-pattern>/URegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveServlet</display-name>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ERegisterServlet</display-name>
    <servlet-name>ERegisterServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.ERegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ERegisterServlet</servlet-name>
    <url-pattern>/ERegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertiServlet</display-name>
    <servlet-name>CertiServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.CertiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertiServlet</servlet-name>
    <url-pattern>/CertiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMServlet</display-name>
    <servlet-name>EMServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.EMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMServlet</servlet-name>
    <url-pattern>/EMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReSendServlet</display-name>
    <servlet-name>ReSendServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.ReSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReSendServlet</servlet-name>
    <url-pattern>/ReSendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckJRServlet</display-name>
    <servlet-name>CheckJRServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.CheckJRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckJRServlet</servlet-name>
    <url-pattern>/CheckJRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobServlet</display-name>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/JobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JRServlet</display-name>
    <servlet-name>JRServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.JRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JRServlet</servlet-name>
    <url-pattern>/JRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManaServlet</display-name>
    <servlet-name>UserManaServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.UserManaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManaServlet</servlet-name>
    <url-pattern>/UserManaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EpManaServlet</display-name>
    <servlet-name>EpManaServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.EpManaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EpManaServlet</servlet-name>
    <url-pattern>/EpManaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobManaServlet</display-name>
    <servlet-name>JobManaServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.JobManaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobManaServlet</servlet-name>
    <url-pattern>/JobManaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAServlet</display-name>
    <servlet-name>DAServlet</servlet-name>
    <servlet-class>cn.edu.hust.servlet.DAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAServlet</servlet-name>
    <url-pattern>/DAServlet</url-pattern>
  </servlet-mapping>
</web-app>